---
import { Image } from "astro:assets";
import Link from "../content/Link.astro";
import GoogleMapsEmbed from "../embeds/GoogleMapsEmbed.astro";

import logo from "../../assets/logos/chn_logo_transparent.webp";

import chn_contact_info from "../../data/contact_info";
---

<footer>
    <!-- * MAIN CONTENT * -->
    <div class="flex flex-wrap items-center justify-around gap-8 px-16 mt-16 py-8 bg-[#ffebbd]">
        <!-- * CONTACT INFO. & SOCIALS * -->
        <div>
            <div class="flex items-center">
                <Image
                    src={logo}
                    class="size-14 mr-2"
                    alt="Footer-Logo"
                    loading="lazy"
                />
                <h1 class="text-lg">Country Hideaway Nails</h1>
            </div>
            <p>42032 Coker Rd, Wanette, OK 74878</p>
            <p>Phone:&nbsp;
                <Link href={`tel:${chn_contact_info.phone}`}>{chn_contact_info.phone}</Link>
            </p>
            <p>Email:&nbsp;
                <Link href={`mailto:${chn_contact_info.email}`}>{chn_contact_info.email}</Link>
            </p>
        </div>

        <!-- * HOURS OF OPERATION * -->
        <table>
            <tbody>
                <tr>
                    <td colspan={2} class="text-xl pb-2 text-center text-[#293610] font-bold">
                        Hours
                    </td>
                </tr>
                <tr>
                    <td class="text-right">Monday - Friday:&nbsp;</td>
                    <td>9am - 7pm</td>
                </tr>
                <tr>
                    <td class="text-right">Saturday:&nbsp;</td>
                    <td>9am - 1pm</td>
                </tr>
            </tbody>
        </table>

        <!-- * GOOGLE MAPS EMBED * -->
        <div class="w-[225px] h-[125px] sm:w-[450px] sm:h-[250px] border-4">
            <GoogleMapsEmbed
                embed_link={
                    "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3" +
                    "!1d4134.336023814412!2d-96.98677192424432!3d34.9566" +
                    "0697282981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!" + 
                    "3m3!1m2!1s0x87b307005351f6bf%3A0x9bd56329a1632ffb!2" + 
                    "sCountry%20Hideaway%20Nails!5e1!3m2!1sen!2sus!4v175" + 
                    "4420410340!5m2!1sen!2sus"
                }
            />
        </div>
    </div>

    <!-- * LEGAL SUBTEXT * -->
    <div class="w-full text-center italic py-1 text-sm">
        Country Hideaway Nails © {new Date().getFullYear()}
    </div>
</footer>