---
import { Image } from "astro:assets";
import NavLayout from "../layouts/NavLayout.astro";

import arrow_icon from "../assets/icons/arrow_icon.svg";
import star_icon from "../assets/icons/star_icon.svg";

import owner_portrait from "../assets/images/owner_portrait.webp";
import bourbonnais_cabin from "../assets/images/bourbonnais_cabin.webp";

import all_reviews, { type Review } from "../data/reviews";
---

<NavLayout page_title={undefined}>
    <!-- * HERO SECTION * -->
    <div
        class="flex justify-end h-[60vh] bg-cover bg-no-repeat bg-center"
        style={`
            background-image: url(${bourbonnais_cabin.src});
        `}
    >
        <div class="flex flex-col justify-center p-16 bg-white/75">
            <h1 class="text-4xl pb-4">Welcome!</h1>
            <h1 class="text-4xl pb-4">Country Hideaway Nails</h1>
            <a href="/book">
                <button class="text-lg cursor-pointer border rounded-full px-2 py-1 bg-white">
                    Book Appointment
                </button>
            </a>
            <p class="text-lg pt-2 pl-2">
                Or see our&nbsp;
                <a href="/services" class="text-blue-600">
                    Prices!
                </a>
            </p>
        </div>
    </div>

    <!-- * OWNER & BUSINESS INTRODUCTION * -->
    <div class="flex items-center justify-around flex-wrap mt-16 mx-16">
        <Image
            src={owner_portrait}
            class="mr-4 min-w-[50vw] md:min-w-[20vw] max-w-[500px] mb-4"
            alt="Owner-Portrait"
            loading="eager"
        />

        <div class="ml-4">
            <h1 class="text-4xl pb-4">Hello!</h1>
            <p class="max-w-full md:max-w-[600px] hidden sm:block">
                My name is Athena Riggle, the owner and operator of Country Hideaway Nails. Before my family and I moved to the area in the summer of 2009, I often visited the many nails salons available in OKC. After moving to the country, however, I found that the nearest salon was often more than half-an-hour away. Because of this, I began performing my own nail-care services and quickly picked it up as a fun hobby. To make a long story short, I eventually decided to attain my nail technician certification and open Country Hideaway Nails: A peaceful, yet convenient salon for fellow rural American residents. I hope you&apos;ll visit soon!
            </p>

            <p class="max-w-full block sm:hidden">
                My name is Athena Riggle, the owner and operator of Country Hideaway Nails. After moving to the country in the summer of 2009, I found that the nearest salon was often more than half-an-hour away. As such, I began performing my own nail-care services. Eventually I decided to attain my nail technician certification and open Country Hideaway Nails: A peaceful, yet convenient salon for fellow rural American residents. I hope you&apos;ll visit soon!
            </p>
        </div>
    </div>

    <!-- * PRIOR WORK CAROUSEL * -->
    <div class="relative w-full my-4">
        <div
            class="min-w-full flex flex-nowrap overflow-hidden"
            id="work-carousel"
        >
            {all_reviews.map((item: Review, index: number) => (
                <div
                    class={`
                        flex flex-wrap sm:flex-nowrap items-center justify-center
                        flex-shrink-0 w-[60vw] lg:w-[40vw] z-0 work-carousel-item
                        ${index === 0 ? "ml-[-40vw] lg:ml-[-10vw]" : ""}
                    `}
                >
                    <Image
                        src={item.image}
                        class="size-[60vw] sm:size-[30vw] lg:size-[20vw]"
                        alt={`Carousel-${index}`}
                        loading="eager"
                    />
                    <div class="p-4">
                        <div class="flex items-center">
                            <Image
                                src={item.review.profile_image}
                                class="rounded-full size-10 mr-2"
                                alt={`Review-Profile-${index}`}
                                loading="eager"
                            />
                            <div>
                                <h1 class="text-xl">{item.review.person}</h1>
                                <div class="flex gap-2">
                                    {Array.from({
                                        length: item.review.rating
                                    }, (_, star_index: number) => (
                                        <Image
                                            src={star_icon}
                                            class="size-4"
                                            alt={`Review-Star-${index}-${star_index}`}
                                            loading="eager"
                                        />
                                    ))}
                                </div>
                            </div>
                        </div>
                        <p>{item.review.description}</p>
                    </div>
                </div>
            ))}
        </div>

        <div 
            class={`
                absolute hidden sm:block w-16 h-full top-0 left-16 from-white
                to-transparent bg-linear-to-r z-1
            `}
        ></div>
        <div
            class={`
                absolute hidden sm:block w-16 h-full top-0 right-16 from-white
                to-transparent bg-linear-to-l z-1
            `}
        ></div>

        <div class="absolute hidden sm:block w-16 h-full top-0 left-0 bg-white z-1"></div>
        <div class="absolute hidden sm:block w-16 h-full top-0 right-0 bg-white z-1"></div>
    </div>

    <div class="flex gap-3 mx-auto w-fit pb-8">
        <Image
            src={arrow_icon}
            class="size-4 cursor-pointer rotate-270"
            alt="Work-Carousel-Left"
            id="work-carousel-left"
            loading="eager"
            
        />

        {all_reviews.map((_, index: number) => (
            <button
                class="size-4 cursor-pointer rounded-full border"
                data-scroll-index={index}
            ></button>
        ))}

        <Image
            src={arrow_icon}
            class="size-4 cursor-pointer rotate-90"
            alt="Work-Carousel-Right"
            id="work-carousel-right"
            loading="eager"
        />
    </div>

    <!-- * FACEBOOK COMMUNITY CALLOUT * -->
    <div id="fb-root"></div>
    <div class="flex items-center justify-around flex-wrap mx-16">
        <div>
            <h1 class="text-4xl pb-4">Stay Connected!</h1>
            <p class="max-w-full md:max-w-[600px]">
                Follow us over on <a href="https://www.facebook.com/groups/759089528933255" class="text-blue-600">Facebook</a> to receive up-to-date announcements, specials, and discounts! You can also peruse our published prior works in more detail and join our growing community of nail-art enthusiasts. We hope to see you there!
            </p>
        </div>

        <div class="hidden sm:block">
            <div
                class="fb-page ml-4 mt-4 hidden sm:block"
                data-href="https://www.facebook.com/dawna.riggle"
                data-tabs="timeline"
                data-width="500"
                data-height="300"
                data-small-header="false"
                data-adapt-container-width="false"
                data-hide-cover="false"
                data-show-facepile="true"
            >
                <blockquote
                    cite="https://www.facebook.com/dawna.riggle"
                    class="fb-xfbml-parse-ignore"
                >
                    <a href="https://www.facebook.com/dawna.riggle">Athena Riggle</a>
                </blockquote>
            </div>
        </div>
    </div>

    <!-- * SCRIPTS * -->
    <script
        is:inline
        async
        defer
        crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v23.0"
    ></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const review_carousel = document.getElementById("work-carousel");
            const review_cells = Array.from(
                document.getElementsByClassName("work-carousel-item")
            );

            const carousel_btns = document.querySelectorAll("[data-scroll-index]");

            if (
                !review_carousel ||
                review_cells.length === 0 ||
                carousel_btns.length === 0
            ) {
                return;
            }

            const left_carousel_btn = document.getElementById("work-carousel-left");
            const right_carousel_btn = document.getElementById("work-carousel-right");

            const item_width = review_cells[0].clientWidth ?? 0;

            let index = 0;
            let is_paused = false;
            let is_resetting = false;
            let select_lock = false;

            function scrollToElement(elem_index: number) {
                index = elem_index;
                review_carousel?.scrollTo({
                    left: index * item_width,
                    behavior: "smooth",
                });

                carousel_btns.forEach((other_btn: Element) => {
                    other_btn.classList.remove("bg-red-400");
                });

                carousel_btns[index % review_cells.length].classList.add("bg-red-400");

                if (index == review_cells.length) {
                    is_resetting = true;

                    setTimeout(() => {
                        review_carousel?.scrollTo({
                            left: 0,
                            behavior: "auto",
                        });

                        index = 0;
                        is_resetting = false;
                    }, 400);
                }
            }

            review_carousel.addEventListener("mouseenter", () => is_paused = true);
            review_carousel.addEventListener("mouseleave", () => is_paused = false);

            let drag_start = 0;
            review_carousel.addEventListener("dragstart", (drag_event: DragEvent) => {
                drag_start = drag_event.clientX;
            });

            review_carousel.addEventListener("dragend", (drag_event: DragEvent) => {
                const drag_distance = drag_event.clientX - drag_start;

                if (drag_distance < -50) {
                    scrollToElement(++index);
                    select_lock = true;
                } else if (drag_distance > 50) {
                    scrollToElement((--index + review_cells.length) % review_cells.length);
                    select_lock = true;
                }
            });

            left_carousel_btn?.addEventListener("click", () => {
                scrollToElement((--index + review_cells.length) % review_cells.length);
                select_lock = true;
            });

            right_carousel_btn?.addEventListener("click", () => {
                scrollToElement(++index);
                select_lock = true;
            });
            
            review_cells.forEach((cell: Element) => {
                const clone = cell.cloneNode(true) as Element;
                clone.classList.remove("ml-[-40vw]", "lg:ml-[-10vw]");
                review_carousel.appendChild(clone);
            });

            setInterval(() => {
                if (is_resetting || is_paused || select_lock) {
                    return;
                }

                scrollToElement(++index);
            }, 5000);
            
            carousel_btns.forEach((btn: Element) => {
                btn.addEventListener("click", () => {
                    const btn_index = btn.getAttribute("data-scroll-index");
                    scrollToElement(Number(btn_index));
                    select_lock = true;
                });
            });

            scrollToElement(0);
        });
    </script>
</NavLayout>