---
import { Image } from "astro:assets";
import Link from "../components/content/Link.astro";
import NavLayout from "../layouts/NavLayout.astro";
import Carousel from "../components/content/Carousel.astro";
import FacebookEmbed from "../components/embeds/FacebookEmbed.astro";

import StarIcon from "../assets/icons/StarIcon.astro";
import owner_portrait from "../assets/images/owner_portrait.webp";
import bourbonnais_cabin from "../assets/images/bourbonnais_cabin.webp";

import all_reviews, { type Review } from "../data/reviews";
---

<NavLayout page_title={undefined}>
    <!-- * HERO SECTION * -->
    <div
        class="h-[60vh] bg-cover bg-no-repeat bg-center flex items-end"
        style={`
            background-image: url(${bourbonnais_cabin.src});
        `}
    >
        <div
            class={`
                from-[#fff3d8] to-transparent bg-linear-to-t w-full pt-32
                flex flex-col items-center
            `}
        >
            <h1 class="text-5xl sm:text-6xl md:text-8xl pb-4 text-[#293610]">Welcome!</h1>
            <h1 class="text-3xl sm:text-4xl md:text-6xl pb-8">Country Hideaway Nails</h1>
            <a href="/book">
                <button 
                    class={`
                        text-sm sm:text-lg cursor-pointer rounded-full px-4 py-2
                        bg-[#7a8153] hover:bg-[#85904c] text-white mb-2
                    `}
                >
                    Book Appointment
                </button>
            </a>
            <p>Or see our <Link href="/services">Prices!</Link></p>
        </div>
    </div>

    <!-- * OWNER & BUSINESS INTRODUCTION * -->
    <div class="flex items-center justify-around flex-wrap mt-16 mx-16">
        <Image
            src={owner_portrait}
            class="mr-4 min-w-[50vw] md:min-w-[20vw] max-w-[500px] mb-8 border-4"
            alt="Owner-Portrait"
            loading="eager"
        />

        <div class="ml-4">
            <h1 class="text-4xl pb-4">Hello!</h1>
            <p class="max-w-full md:max-w-[600px] hidden sm:block">
                My name is Athena Riggle, the owner and operator of Country Hideaway Nails. Before my family and I moved to the area in the summer of 2009, I often visited the many nails salons available in OKC. After moving to the country, however, I found that the nearest salon was often more than half-an-hour away. Because of this, I began performing my own nail-care services and quickly picked it up as a fun hobby. To make a long story short, I eventually decided to attain my nail technician certification and open Country Hideaway Nails: A peaceful, yet convenient salon for fellow rural American residents. I hope you&apos;ll visit soon!
            </p>

            <p class="max-w-full block sm:hidden">
                My name is Athena Riggle, the owner and operator of Country Hideaway Nails. After moving to the country in the summer of 2009, I found that the nearest salon was often more than half-an-hour away. As such, I began performing my own nail-care services. Eventually I decided to attain my nail technician certification and open Country Hideaway Nails: A peaceful, yet convenient salon for fellow rural American residents. I hope you&apos;ll visit soon!
            </p>
        </div>
    </div>

    <!-- * PRIOR WORK CAROUSEL * -->
    <div class="relative w-full mt-8">
        <Carousel
            scroll_interval={5000}
            item_class="flex-shrink-0"
        >
            {all_reviews.map((review: Review, index: number) => (
                <div class="flex flex-col md:flex-row w-200 max-w-[68vw]">
                    <Image
                        src={review.image}
                        alt={`Review-Image-${index}`}
                        class="md:size-[50%]"
                    />
                    <div class="py-2 px-4">
                        <div class="flex mb-2 items-center">
                            <Image
                                src={review.review.profile_image}
                                alt={`Review-Profile-Image-${index}`}
                                class="border-2 rounded-full"
                            />
                            <div class="ml-2">
                                <h1 class="text-2xl">{review.review.person}</h1>
                                <div class="flex gap-1">
                                    {Array.from({ length: review.review.rating }).map(() => (
                                        <StarIcon
                                            width={18}
                                            height={18}
                                            class="fill-yellow-500"
                                        />
                                    ))}
                                </div>
                            </div>
                        </div>
                        <p class="italic">"{review.review.description}"</p>
                    </div>
                </div>
            ))}
        </Carousel>

        <div class="absolute w-[4vw] h-full top-0 left-0 bg-[#fff3d8]"></div>
        <div class="absolute w-[4vw] h-full top-0 right-0 bg-[#fff3d8]"></div>

        <div 
            class={`
                absolute w-[12vw] h-full top-0 left-[4vw] from-[#fff3d8]
                to-transparent bg-linear-to-r
            `}
        ></div>
        <div 
            class={`
                absolute w-[12vw] h-full top-0 right-[4vw] from-[#fff3d8]
                to-transparent bg-linear-to-l
            `}
        ></div>
    </div>

    <!-- * FACEBOOK COMMUNITY CALLOUT * -->
    <div class="flex items-center justify-around flex-wrap mx-16 mt-8">
        <div>
            <h1 class="text-4xl pb-4">Stay Connected!</h1>
            <p class="max-w-full md:max-w-[600px]">
                Follow us over on <Link href="https://www.facebook.com/groups/759089528933255">Facebook</Link> to receive up-to-date announcements, specials, and discounts! You can also peruse our published prior works in more detail and join our growing community of nail-art enthusiasts. We hope to see you there!
            </p>
        </div>

        <div class="hidden sm:block mt-8 border-4">
            <FacebookEmbed
                embed_link="https://www.facebook.com/dawna.riggle"
                pixel_width={500}
                pixel_height={300}
            />
        </div>
    </div>
</NavLayout>