---
import { Image } from "astro:assets";
import Link from "../components/content/Link.astro";
import NavLayout from "../layouts/NavLayout.astro";
import Carousel from "../components/content/Carousel.astro";
import FacebookEmbed from "../components/embeds/FacebookEmbed.astro";

import StarIcon from "../assets/icons/StarIcon.astro";
import owner_portrait from "../assets/images/owner_portrait.webp";
import business_location from "../assets/images/business_location.webp";
import bourbonnais_cabin from "../assets/images/bourbonnais_cabin.webp";

import all_reviews, { type Review } from "../data/reviews";
import book_url from "../data/bookings";
---

<NavLayout page_title={undefined}>
    <!-- * HERO SECTION * -->
    <div
        class="h-[70vh] bg-cover bg-no-repeat bg-center flex items-end"
        style={`
            background-image: url(${bourbonnais_cabin.src});
        `}
    >
        <div
            class={`
                from-[#fff3d8] to-transparent bg-linear-to-t w-full pt-32
                flex flex-col items-center
            `}
        >
            <h1 class="text-5xl sm:text-6xl md:text-8xl pb-4 text-[#293610]">Welcome!</h1>
            <h1 class="text-3xl sm:text-4xl md:text-6xl pb-8">Country Hideaway Nails</h1>
            <a href={book_url}>
                <button 
                    class={`
                        text-sm sm:text-lg cursor-pointer rounded-full px-4 py-2
                        bg-[#7a8153] hover:bg-[#85904c] text-white mb-2
                    `}
                >
                    Book Appointment
                </button>
            </a>
            <p>Or see our <Link href="/services">Prices!</Link></p>
        </div>
    </div>

    <!-- * OWNER & BUSINESS INTRODUCTION * -->
    <div class="flex items-center justify-around flex-wrap mt-32 mx-16">
        <div class="relative min-w-[50vw] md:min-w-[20vw] max-w-[550px] mr-15 mb-16">
            <Image
                src={owner_portrait}
                class={`
                    -rotate-5 shadow-lg/25 border-2
                `}
                alt="Owner-Portrait"
                loading="eager"
            />

            <Image
                src={business_location}
                class={`
                    mr-4 w-[40%] absolute -bottom-10 -right-15
                    mb-8 rotate-5 shadow-lg/25 border-2
                `}
                alt="Owner-Portrait"
                loading="eager"
            />
        </div>

        <div class="ml-4">
            <h1 class="text-4xl pb-4">Hello!</h1>
            <p class="max-w-full md:max-w-[600px] hidden sm:block">
                My name is Athena Riggle, the owner and operator of Country Hideaway Nails. Before my family and I moved to the area in the summer of 2009, I often visited the many nails salons available in OKC. After moving to the country, however, I found that the nearest salon was often more than half-an-hour away. Because of this, I began performing my own nail-care services and quickly picked it up as a fun hobby. To make a long story short, I eventually decided to attain my nail technician certification and open Country Hideaway Nails: A peaceful, yet convenient salon for fellow rural American residents. I hope you&apos;ll visit soon!
            </p>

            <p class="max-w-full block sm:hidden">
                My name is Athena Riggle, the owner and operator of Country Hideaway Nails. After moving to the country in the summer of 2009, I found that the nearest salon was often more than half-an-hour away. As such, I began performing my own nail-care services. Eventually I decided to attain my nail technician certification and open Country Hideaway Nails: A peaceful, yet convenient salon for fellow rural American residents. I hope you&apos;ll visit soon!
            </p>
        </div>
    </div>

    <!-- * PRIOR WORK CAROUSEL * -->
    <div class="mx-2 sm:mx-16">
        <Carousel
            scroll_interval={3000}
            item_class="flex-shrink-0"
            carousel_class="flex my-32 mx-auto max-w-350"
        >
            {all_reviews.map((review: Review, index: number) => (
                <div
                    class={`
                        h-full w-100 max-w-[50vw] mx-2 bg-[#FFE6A7] rounded-3xl
                        overflow-hidden shadow
                    `}
                >
                    <div class="relative">
                        <Image
                            src={review.image}
                            alt={`Review-${index}`}
                        />

                        <div
                            class={`
                                absolute left-0 right-0 flex mx-auto w-fit bg-[#432818]
                                rounded-lg py-2 px-4 -bottom-4 gap-1
                            `}
                        >
                            {Array.from({ length: review.review.rating }).map(() => (
                                <StarIcon width={18} height={18} class="fill-yellow-400" />
                            ))}
                        </div>
                    </div>

                    <div class="px-8 pt-12 pb-6 text-center">
                        <h1 class="text-3xl pb-2">{review.review.person}</h1>
                        <p class="italic">"{review.review.description}"</p>
                    </div>
                </div>
            ))}
        </Carousel>
    </div>

    <!-- * FACEBOOK COMMUNITY CALLOUT * -->
    <div class="flex items-center justify-around flex-wrap mx-16">
        <div>
            <h1 class="text-4xl pb-4">Stay Connected!</h1>
            <p class="max-w-full md:max-w-[600px]">
                Follow us over on <Link href="https://www.facebook.com/groups/759089528933255">Facebook</Link> to receive up-to-date announcements, specials, and discounts! You can also peruse our published prior works in more detail and join our growing community of nail-art enthusiasts. We hope to see you there!
            </p>
        </div>

        <div class="hidden sm:block mt-8 border-black shadow bg-white">
            <FacebookEmbed
                embed_link="https://www.facebook.com/profile.php?id=61579387679192"
                pixel_width={500}
                pixel_height={400}
            />
        </div>
    </div>
</NavLayout>