---
import "../styles/global.css";

interface Props {
    page_title?: string;
};

export type RootLayoutProps = Props;

interface SiteMetaData {
    title: string;
    authors: string[];
    description: string;
    icon_path: string;
};

const meta_data: SiteMetaData = {
    title: Astro.props.page_title
        ? `Country Hideaway Nails - ${Astro.props.page_title}`
        : "Country Hideaway Nails",
    authors: [
        "Novice Engineer",
        "Athena Riggle",
    ],
    description: "",
    icon_path: "/favicon.ico",
};
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content={meta_data.description}>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {meta_data.authors.map((author: string) => {
            <meta name="author" content={author}>
        })}

        <link rel="icon" type="image/x-icon" href={`${meta_data.icon_path}`}>

        <title>{meta_data.title}</title>
    </head>
    <body>
        <slot/>
    </body>
</html>